#header h1{
    font-size: 2rem;
}
#header p{
    font-size: 20px;
    margin-bottom: 5px;
}
.addPhone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0px 160px 0px;
}
.addPhone p{
    font-size: 18px;
    padding: 40px 0px 0px 0px;
}
#addPhone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 10px 0px;
    margin: 2px;
}

.cInput{
    margin: 5px;
}

.btnCart{
    margin-bottom: 10px;
}
.sortBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}
.sortBtn p,
.sortBtn i {
    padding-right: 10px;
}
/* #sortByName{
    margin-right: 5px;
} */
.sortBtnAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}